# ----------------------------
# Data files (DO NOT COMMIT)
# ----------------------------
data/*.json
data/*.csv
data/*.parquet

# ----------------------------
# Jupyter Notebook
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc

# ----------------------------
# Spark / Hadoop
# ----------------------------
spark-warehouse/
metastore_db/

# ----------------------------
# OS / Editor files
# ----------------------------
.DS_Store
.vscode/

